@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 2rem;
    background-color: #2746e3;
}

.active {
    position: relative;
}

.active::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 80%;
    border-bottom: 4px solid #2746e3;
    animation: line 0.4s linear 0s normal none;
}

.active::before {
    background-size: 100% 2px;
}

.border {
    position: fixed;
    justify-content: flex-start;
    backdrop-filter: blur(5px);
    border: none;
}

@keyframes line {
    0% {
        width: 0%;
    }
    100% {
        width: 85%;
    }
}


.gradient-text {
    background: linear-gradient(to right,
     #2746e3, 
     #16b3e2,
     #0e7ec9,
     #2746e3, 
     #16b3e2,
     #0e7ec9);
    background-size: 300%, 300%;
    background-clip: text;
}

.gradient-fire-text {
    background: linear-gradient(to right,
    #A10100, 
    #DA1F05,
    #F33C04,
    #FE650D,
    #FFC11F,
    #FFF75D, 
    #A10100, 
    #DA1F05,
    #F33C04,
    #FE650D,
    #FFC11F,
    #FFF75D );
   background-size: 300%, 300%;
   background-clip: text;
}